* {
    box-sizing: border-box;
}
.corpoTela1 {
    width: 375px;
    height: 667px;
    background-color: #FB6B6B;
}
.logo {
    width: 136px;
    height: 161px;
    margin-top: 148px;
    margin-left: 119px;
    margin-bottom: 13px;
}
span {
    width: 257px;
    height: 59px;
    color: #FFFFFF;
    font-size: 36px;
    margin-left: 89px;
    margin-top: 13px;
}
button {
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    color: #D70900;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 64px;
}
h1 {
    color: red;
}